*{
    padding: 0;
    margin: 0;
}
#container{
    width: 1300px;
    margin: 0 auto;
    background-color: #f7fcf0;
}
#top{
    height: 100px;
    width: 1300px;
    background-color: #a8ddb5;
}
#nav a{
    text-align:center;
    text-decoration: none;
    color: #e0f3db;
    font-weight: bolder;
    font-size: 30px;
    display: block;
    width: 180px;
    height: 100px;
}
#nav {
    line-height: 100px;  list-style: none; background:#666;
}
#nav li {
    float: left; width: 180px;
    margin-left: 50px;
    position: relative;
}
#nav li a:hover{
    background:#f7fcf0;
}
#nav li ul {
     list-style: none;
    text-align:center;
     width: 200px;
    position: absolute;
    top: 100px;
    left: -50px;
}
#nav li ul li{
     width: 180px;
    height: 50px;
    line-height: 50px;
    background: #a8ddb5;
    font-size: 20px;
    color:#e0f3db;
}
#nav li ul{
    display: none;
}
#nav li:hover ul{
    display: block;
}
#box{
    width: 640px;
    height: 400px;
    margin-top: 30px;
    overflow: hidden;
    position: relative;
    float: left;
}
#pic{
    width: 38400px;
    height: 400px;
    position: relative;
    left: 0px;
}
img{
    float: left;
}
#strip{
    position: absolute;
    top:370px;
    left:530px;
}
.littleBox{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid black;
    background: white;
    display: inline-block;

}
#leftmemu{
    height: 600px;
    width: 500px;
    background-color: #a8ddb5;
    margin-top: 20px;

 }
.head{
    color: #f7fcf0;
    font-size: 30px;
    font-weight: bold;
}
#leftmemu{
    padding: 20px 20px;
    float: left;
    margin-right: 60px;
}
.des{
    list-style: none;
    float: left;
    width: 25px;
    height: 15px;
    color: #4eb3d3;
    margin-bottom: 70px;
}
#word{
    float: left;
    width: 650px;
    height: 210px;
    margin-top: 20px;
    color: #a8ddb5;
    font-size: 19px;
}
#foot{
    width:1300px ;
    height: 30px;
    margin-top: 550px;
    margin-left: 70px;
}
.end{
    height: 30px;
    width: 400px;
    float: left;
    line-height: 30px;
    font-size: 10px;
}
span{
    color: #084081;
    font-size: 15px;
    line-height: 50px;
}









